

<div class="user-info">
  <h2>User info</h2>
  <!-- クラス名の変更？ -->
  <%= attachment_image_tag user, :image, fallback:"no_image.jpg", class: "img" %>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>


    <% if user.id == current_user.id %>
      <!-- 変更点 -->
      <p><%= link_to  edit_user_path(current_user), class: "btn btn-default edit_user_#{user.id}" do %>
        <span class="glyphicon glyphicon-wrench wrench"></span>
        <% end %>
      </p>
    <% end %>



  <h2>New book</h2>
  <%= form_for(book) do |f| %>
  	<h4>Title</h4>
    <!-- 変更点 -->
    <%= f.text_field :title, class: "book_title" %>

    <h4>Opinion</h4>
    <!-- 変更点 -->
    <%= f.text_area :body, class: "book_body" %>

    <p><%= f.submit 'Create Book', class: "btn btn-primary" %></p>

  <% end %>
</div>
